.container {
  margin-top: 16px;
  padding: 12px 16px;
  min-height: 400px;
  background: #fff;

  .table {
    td {
      line-height: 28px;
      padding: 8px 12px;
    }
  }

  .images {
    height: 28px;

    :global(.ant-image) {
      margin-right: 2px;
    }

    img {
      width: auto;
      height: 28px;
      border-radius: 4px;
    }
  }

  .detail {
    :global {
      .ant-form-item {
        margin-bottom: 4px;
      }
    }
  }
}
